:root {
    --bg: #ffffff;
    --bg-off: #bbbbbb;
    --hover: #999999;
    --surface: #e8e5df;
    --purple: #ca96ff;
    --pink: #ff6eb4;
    --blue: #669aff;
    --red: #ff3f3f;
    --cyan: #00ffff;
    --green: #aaff56;
    --ink: #000000;
    --muted: #6b6560;

    --border: 5px solid black;
    --border-half: 2.5px solid black;
    --shadow: -1vw 1vw 0px var(--ink);
}

canvas {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1000;
}

body {
    margin: 0px;
    background: none;
}

/* Nav bar start */

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
    background-color: var(--bg-off);
}

img {
    height: 7vh;
    padding: 0.5vw;
}

#logo_div {
    border-right: 5px solid black;
}

#logo_div:hover {
    background-color: var(--hover);
}

#main_nav_btns {
    display: flex;
    border-right: 2.5px solid var(--ink);
    border-left: 2.5px solid var(--ink);
}

.btn_div {
    border-left: 2.5px solid var(--ink);
    border-right: 2.5px solid var(--ink);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_div:hover {
    background-color: var(--hover);
}

.nav_btn_div {
    padding: 1.1vw 2vw 0.9vw 2vw;
}

.nav_link {
    font-family: Bebas Neue;
    font-size: 2vw;
    text-decoration: none;
    color: var(--ink);
}

#ui_btns_div {
    display: flex;
    border-left: 2.5px solid var(--ink);
}

.ui_btn_div{
    padding: 0.5vw;
}

.ui_link{
    display: flex;
}

/* Header Box */
#header_box {
    background-color: var(--bg);
    display: inline-block;
    margin: 2vw 0vw 1vw 2vw;
    padding: 2vw 3vw 2vw 1vw;
    border: var(--border);
    box-shadow: var(--shadow);
    position: relative;
    z-index: 100;
}


h1 {
    font-size: 16vw;
    font-family: 'Bebas Neue';
    text-decoration: underline 1.5vw var(--pink);
    letter-spacing: 0.5vw;
    margin: 0;
    line-height: 1;
}

h2 {
    font-family: 'Space Mono';
    margin: 1vw 0vw 0vw 3vw;
}

/* Main Body */

h3{
    font-family: 'Bebas Neue';
    font-size: 2vw;
}

p {
    font-family: 'Space Mono';
    font-size: 1.5vw;
}

.body_box {
    display: inline-block;
    border: var(--border);
    padding: 0.5vw 0vw 1vw 1vw;
    background-color: var(--bg);
    position: relative;
}

#description_box {
    margin: 2vw 0vw 0vw 5vw;
    transition: all ease-in-out 100ms;
    max-width: 40vw;
    z-index: 1;
}

#style_box {
    z-index: 2;
    max-width: 60vw;
    margin: -2vw 0vw 0vw 20vw;
    transition: all ease-in-out 100ms;
}

#feedback_box {
    max-width: 30vw;
    margin: -2vw 0vw 0vw 10vw;
    z-index: 1;
    transition: all ease-in-out 100ms;
}

main:has(#description_box:hover) #description_box {
    margin-left: 10vw;
    margin-top: 5vw;
}

main:has(#description_box:hover) #style_box {
    margin-top: 1vw;
}

main:has(#style_box:hover) #description_box {
    margin-top: -1vw;
}

main:has(#style_box:hover) #style_box {
    margin-top: 1vw;
}

main:has(#style_box:hover) #feedback_box {
    margin-top: 1vw;
}

main:has(#feedback_box:hover) #style_box {
    margin-top: -5vw;
    margin-bottom: 3vw;
}